body {
    background-color: white;
}

.opacity-test::before{
    opacity: 0.3;
}

input[type="button"]{
    background:transparent;
    border:none;
}

h1 {
    text-align: center;
    color: black;
}

h2 {
    color: black;
}

